[defaults]
host_key_checking = False
inventory = inventory/production.ini
roles_path = roles
stdout_callback = yaml
retry_files_enabled = False

[privilege_escalation]
become_method = sudo
become_user = root
